/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(43, 90%, 50%);
  --first-color-alt: hsl(43, 88%, 48%);
  --text-color: hsl(0, 0%, 42%);
  --text-color-lighten: hsl(0, 0%, 92%);
  --black-color: hsl(0, 0%, 8%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 98%);
  --body-second-color: hsl(25, 70%, 55%);
  --shadow-img: -8px 8px 16px hsla(0, 0%, 0%, .2);

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: "Bricolage Grotesque", sans-serif;
}

input,
button {
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

li{
  cursor: pointer;
}

a {
  text-decoration: none;
}


/*=============== HEADER & NAV ===============*/
.header-section{
  background-image: url(./assets/img/home-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 110vh;
}

.header-parent-div{
  background: rgba(0, 0, 0, 0.219);
  width: 100%;
  height: 110vh;
}

/* navbar part */
nav{
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  align-items: center;
}

nav h3{
  color: rgb(66, 66, 66);
  font-size: 30px;
  font-weight: 600;
}

.navbar-menu{
  display: flex;
  gap: 50px;
  font-weight: 500;
  align-items: center;
}

.navbar-menu li{
  font-size: 17px;
  color: #ffffffdc;
}

.navbar-menu button{
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #ffc400;
  background: transparent;
  color: #fff;
  border-radius: 3px;
}


/* BANNER SECTION */
.banner-section{
  margin-top: 100px;
  justify-content: center;
}

.banner-title{
  text-align: center;
}

.banner-title h3{
  letter-spacing: 1px;
  color: #000;
  font-family: "Montserrat Alternates", sans-serif;
  position: relative;
  bottom: -15px;
  font-size: 20px;
}

.banner-title h1{
  font-size: 140px;
  letter-spacing: 2px;
  color: var(--white-color);
}

.banner-img{
  display: flex;
  justify-content: center;
}
.banner-img img{
  top: -95px;
  position: relative;
}


/*=============== MAIN PART ===============*/
/* home section */
.home-section{
  background-color: var(--body-second-color);
  padding: 100px 80px;
}

.home-section-parent-div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-title-container{
  max-width: 500px;
}

.home-title-container h1{
  color: #fff;
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 15px;
}

.home-title-container span{
  color: #000;
  font-family: "Montserrat Alternates", sans-serif;
}

.home-title-container p{
  color: #ffffffe0;
}

.home-title-container button {
  padding: 9px 20px;
  margin-top: 30px;
  font-size: 18px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  box-shadow: 0 4px 12px hsla(43, 88%, 32%, .4);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
}

.home-title-container button svg {
  transition: transform 0.4s;

}

.home-title-container button:hover svg {
  transform: translateX(0.2rem);
}

.home-video-container {
  width: 350px;
  height: 500px;
  transform: skew(-12deg);
  box-shadow: var(--shadow-img, 0 10px 20px rgba(0, 0, 0, 0.3));
  display: grid;
  overflow: hidden;
  position: relative;
}

.home-video-container video {
  max-width: none;
  height: 100%;
  transform: skew(12deg);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) skew(12deg); 
}


/* car model section */
.models-section{
  margin: 100px 80px;
}

.models-title{
  text-align: center;
  margin-bottom: 70px;
}

.models-title h1{
  font-size: 50px;
  font-weight: 900;
}

.models-title p{
  color: #000000b7;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500px;
  margin-top: 15px;
}

.models-img-container{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.models-img-content {
  width: 300px;
  height: 400px;
  transform: skew(-12deg);
  box-shadow: var(--shadow-img, 0 10px 20px rgba(0, 0, 0, 0.3));
  display: grid;
  overflow: hidden;
  position: relative;
}

.image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.hover-text {
  position: absolute;
  bottom: -100px; 
  left: 50px;
  color: white;
  font-size: 20px;
  transition: bottom 0.4s ease;
  z-index: 2;
  transform: skew(12deg);
}

.image-wrapper:hover .overlay {
  background-color: rgba(0, 0, 0, 0.719); 
}

.image-wrapper:hover .hover-text {
  bottom: 50px; 
}


/* information section */
.info-section{
  margin: 100px 80px;
}

.info-title{
  text-align: center;
}

.info-title p{
  color: #000000b7;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.info-title h1{
  font-size: 50px;
  font-weight: 900;
}

.info-img-container h1{
  font-size: 250px;
  font-weight: 900;
  color: #0000001c;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
}

.info-img-container img{
  position: relative;
  top: -130px;
}


