/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: hsl(43, 90%, 50%);
  --first-color-alt: hsl(43, 88%, 48%);
  --text-color: hsl(0, 0%, 42%);
  --text-color-lighten: hsl(0, 0%, 92%);
  --black-color: hsl(0, 0%, 8%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 98%);
  --body-second-color: hsl(25, 70%, 55%);
  --shadow-img: -8px 8px 16px hsla(0, 0%, 0%, .2);

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: var(--body-color);
  color: var(--black-color); */
  font-family: "Ubuntu", sans-serif;
}

input,
button {
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

li{
  cursor: pointer;
}

a {
  text-decoration: none;
}


/*=============== HEADER & NAV ===============*/
.header-section{
  background-image: url(./assets/img/home-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 110vh;
}

.header-parent-div{
  background: rgba(0, 0, 0, 0.219);
  width: 100%;
  height: 110vh;
}

/* navbar part */
nav{
  display: flex;
  justify-content: space-between;
  padding: 30px 80px;
  align-items: center;
}

nav h3{
  color: rgb(66, 66, 66);
  font-size: 30px;
  font-weight: 600;
}

.navbar-menu{
  display: flex;
  gap: 50px;
  font-weight: 500;
  align-items: center;
}

.navbar-menu li{
  font-size: 17px;
  color: #ffffffdc;
}

.navbar-menu button{
  font-size: 17px;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #dd8e4a;
  color: #ffffffdc;
}


/* BANNER SECTION */
.banner-section{
  margin-top: 100px;
  justify-content: center;
}

.banner-title{
  text-align: center;
}

.banner-title h3{
  letter-spacing: 1px;
  color: #000;
  font-family: "Montserrat Alternates", sans-serif;
}

.banner-title h1{
  font-size: 100px;
  letter-spacing: 2px;
  color: var(--white-color);
}

.banner-img{
  display: flex;
  justify-content: center;
}
.banner-img img{
  top: -78px;
  position: relative;
}
